<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <form action="action.php" method="post">
            <label for="first-name">First Name:</label>
            <input type="text" name="first-name" id="first-name">
            <input type="submit" value="Submit">
        </form>
    <p>Running away for a problem does not solve the problem, The best way is to find a permanent solution </p>
    <p>Learn to breathe for yourself, nobody will breath for you.</p>
    </body>
</html>
